.container{
    margin-top:7%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.productimage{
    width:90%;
}
.card-img-top{
    width: 50%;
}

.Buttons{
    margin-top: 10%;
    border-radius: 3%;
    display:flex;
    flex-direction: row;
    margin-left: 7%;
}
.productdetails{
    width: 50%;
    margin-top: 10%;
}
.details{
    
    width: 50%;
}
.buy-button{
    margin-left:5%
}