/* .card-img-top{
    width:50%;
    height:60%;
} */
.image{
    width:30%;
    height:40%;
}
 .GridPersonDetails{
    display: grid;
    grid-gap: 10px; 
    padding: 10px;
 }

 .item1 {
    grid-area: item1;
  }
  .item2 {
    grid-area: item2;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .GridPersonDetails {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
      "item1 item2";
  }
  .product-details{
      display: flex;
      flex-direction: row;
  }
