@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.nav-link{
    border-radius: 20px;
}
.nav-link:hover{
    background-color: rgb(221, 211, 211);
    
    
}
.navbar_Main{
    position:sticky;
    width:100%; 
    z-index: 1000000;
    top:0;  
    background-color: rgb(250, 248, 248);
    display: flex;
    border: 1px solid;
    padding: 10px;
    /* box-shadow: 5px 5px rgb(25, 24, 24); */
    
} 
.nav-logo{
    flex-grow: 1;
    margin-left: 5%;
    font-weight: 700;
    align-self: center;
    font-family: 'Lobster', cursive;
}

.header_logo{
    width: 50px;
}
.logo_class{
    margin-left: 8%;
    display: flex;
}
.nav-options{
    flex-grow: 2;
    margin-left: 10%;
}
.nav-icons{
    display: flex;
    margin-right: 10%;
    justify-content: flex-end; 
    flex-grow: 3;
}
.search-form{
    display: flex;
    flex-grow: 5;
}
.search_input,.searchbtn{ 
        height:30px ;
}
.search_icon{
    display: flex;
    justify-content: center;
}

.navbar-brand ,.nav-link,.searchbtn{
/* color: white; */
color: black;
}
.modal.show{
    display: block;
}
.modal.accountModal{
    display: block;
}
.modal.showsellerlogin{
    display: block;
}
.modal.AddProductModal{
    display: block;
}
.modal.sellerregistraion{
    display: block;
}
.modal{
    margin: 0 auto; 
    /* background-image: linear-gradient(#003537,#00324e); */
   background-image:linear-gradient( #0bab64,#3bb78f) ;
   
}
.modal-content{
    
    /* background-image: linear-gradient(#09203f,#98a0a5); */
}
.close_button{
    background-color: white;
    border: none;
}
.loginform{
 
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.loginbtn,.logincancelbtn{
    margin-top: 5%;
    border: none;
    border-radius: 2px;
    background-color: #3CB371;
    color:white;
    width:45%;
    height: 30px;


}
.btn-container{
    display:flex;
    justify-content: space-evenly;
}
.loginput{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}
.login-createaccount{
    margin-top: 30px;
    display: flex; 
    justify-content: space-evenly
}
.dropdown-menu.showdrop{
    display: block;
}


.badge-secondary{
    width: 19px;
    height: 18px;
    background-color: red;
    color:white;
    background:red;
   position:relative;
   top: -13px;
   left: -5px; 
    /* border-radius: 30%; */
}


.second-nav{
    display: flex;
    height: 100px;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 12%;  
    margin-right: 12%;
    /* background-color: #0bab64; */
    /* justify-content: space-around; */
}

.LoginNav{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 5%;
    padding-left: 10%;
    padding-right: 7%;
    margin-right: 5%;
} 
.second-nav-imag{
    display: flex;
    width:55%; 
}
.second-nav-font{
    font-weight: bold;
}
.SecndNav_div2{
    font-weight: bold;
    margin-right: 5%;
    /* background-color: brown; */
    display: flex;
}
.second-loggedout-nav{
    display: flex;
    height: 100px; 
    justify-content: space-around;
    flex-direction: row;
    margin-left: 12%;  
    margin-right: 12%;

} 

.dropdown{
    border: none;
    outline: none;
    color: black;
    font-weight: 700;

}
.dropdown-settings{
    padding-top: 0%;
}