 .carousalImg{
    width: 100%;
}
.productcard-div{
    /* display: flex;
    flex-direction: row; 
    justify-content:space-evenly ; 
    flex-wrap: wrap; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%; 
}